@charset "UTF-8";

table { 
    width: 100%;
}

.menu {
    background-color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a.link-menu {
    color: white; 
}

img#logo {
    width: 100px;
}

h4 {
    color: red;
}

table#produtos {
    border: 0px;
    width: 100%;
}

.produtos {
    width: 20%;
    vertical-align: top;
}
