@charset "UTF-8";

nav {
    background-color: red;
    width: 100%;
    text-align: center;
}

nav > a.link-menu {
    color: white;
    width: 25%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: red;
}

table.table {
    border: 0px;
    width: 100%;
    padding: 0px; 
}

table.table > td {
    width: 20%;
    vertical-align: top;
}

#preco {
    font-size: large;
    color: red;
}

#desconto {
    font-size: small;
}